{% extends 'todo/simpleTodo.html'%}

{% block title %} update Todo {% endblock %}

{% block todo %}
    <form action="{% url 'update' todo.id %}" method="post">{% csrf_token %}
        <div class="modal-body">
            {{ form.todo }}
            <fieldset>
                <label class="radio inline" for="priority">
                    <span class="label label-inverse">Priority</span>
                </label>
                {% for radio in form.priority %}
                <label class="radio inline" for="{{ radio.id_for_label }}">
                  {{ radio.tag }}
                  <span class="label label-{{ radio.choice_label }}">{{ radio.choice_label }}</span>
                </label>
                {% endfor %}
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn"  data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="send" class="btn btn-success" type="submit" name="submit" >Save changes</button>
        </div>
        </form>
{% endblock %}
